# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Testing
coverage

# Production
build
.eslintcache
dist

# Development folder for locally hosted assets
/examples/*/public/assets/*

# License files are copied into package folder upon building
/packages/*/LICENSE.md

# Minification of Packages folder
/packages/*/dist

# Mac filesystem
**/.DS_Store

# Environment Variable FIle
.env*
!.env-sample

 yarn-error.log
